mat-sidenav{
  background: white;
  position: fixed;
}
mat-sidenav-content{
  overflow: hidden;
}
.main {
  padding-top: 3.5rem;
  padding-left: 10px;
}

mat-sidenav-container{
  min-height: 97%;
  overflow: hidden;
}
