<div class="card">
  <div class="card-body">
      <div class="mb-4 d-md-flex align-items-center justify-content-between">
          <div>
              <h4>User Profile</h4> 
          </div>
          <button class="btn btn-primary">Edit Profile</button>
      </div>
      <div class="row">
          <div class="col" style="max-width: 200px;">
              <div class="mb-3">
                  <img class="img-fluid w-100 rounded" src="../../../assets/images/avatars/thumb-10.jpg" alt="upload avatar">
              </div>
              <div class="upload upload-text w-100">
                  <div>
                      <label for="upload" class="btn btn-secondary w-100">Upload</label>
                  </div>
                  <input id="upload" type="file" name="file" class="upload-input" accept="image/png, image/jpeg">
              </div>
          </div>
          <div class="col-md">
              <table class="table">
                  <tbody>
                     <tr>
                        <th class="py-4">First Name</th>
                        <td class="py-4">Julio</td>
                     </tr>
                     <tr>
                        <th class="py-4">Last Name</th>
                        <td class="py-4">Baker</td>
                     </tr> 
                     <tr>
                        <th class="py-4">Gender</th>
                        <td class="py-4">Female</td>
                     </tr>
                     <tr>
                        <th class="py-4">Birthday</th>
                        <td class="py-4">07/07/1993</td>
                     </tr>
                     <tr>
                        <th class="py-4">Address</th>
                        <td class="py-4">1001 Mary St, Harrisville, WV, 26362</td>
                     </tr>
                     <tr>
                        <th class="py-4">Zip</th>
                        <td class="py-4">26362</td>
                     </tr>
                     <tr>
                        <th class="py-4">Bio</th>
                        <td class="py-4">Hello World!</td>
                     </tr>
                  </tbody>
               </table>
          </div>
      </div>
  </div>
</div>