<div class="alert alert-danger" *ngIf="showResult">

</div>
<div class="login-bg auth-full-height d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="m-2">
                            <div class="text-center mt-3">
                                <h3 class="fw-bolder">Reset Password</h3>
                            </div>
                            <form [formGroup]="formGroup">
                                <div class="mb-3">
                                    <label class="form-label d-flex justify-content-between">
                                        <span>Old Password</span>
                                    </label>
                                    <div class="form-group input-affix flex-column">
                                        <label class="d-none">Old Password</label>
                                        <input [type]="showPassword ? 'text' : 'password'" 
                                            class="form-control no-validation-icon no-success-validation" minlength="8" formControlName="old_password">
                                        <i class="suffix-icon feather cursor-pointer text-dark" 
                                            [ngClass]="showPassword ? 'icon-eye-off' : 'icon-eye'"  (click)="onShowPasswordClick()">
                                        </i>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label d-flex justify-content-between">
                                        <span>New Password</span>
                                    </label>
                                    <div class="form-group input-affix flex-column">
                                        <label class="d-none">New Password</label>
                                        <input [type]="showPassword ? 'text' : 'password'" 
                                            class="form-control no-validation-icon no-success-validation" minlength="8" formControlName="new_password">
                                        <i class="suffix-icon feather cursor-pointer text-dark" 
                                            [ngClass]="showPassword ? 'icon-eye-off' : 'icon-eye'"  (click)="onShowPasswordClick()">
                                        </i>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary w-100" >Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>